<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-product-detail.css">
    <title>Detalle de producto</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="product-detail">
                    <div class="img-product">
                        <img src="/img/products/<%= producto.imagen %>" class="img-product" alt="Imagen de producto">
                    </div>
                    <h1 class="product-name">
                        <%= producto.nombre %>
                    </h1>
                    <div class="img-product-small">
                        <img src="/img/products/<%= producto.imagen %>" alt="Imagen pequeña producto">
                        <img src="/img/products/<%= producto.imagen %>" alt="Imagen pequeña producto">
                        <img src="/img/products/<%= producto.imagen %>" alt="Imagen pequeña producto">
                    </div>
                    <div class="price">
                        <% if (producto.descuento !=0) { %>
                            <p>
                                <b><del>
                                        $<%= producto.precio %></del>
                                </b>
                            </p>
                            <p> Descuento: <%= producto.descuento %>%
                            </p>
                            <p> Precio con el descuento: <b>$<%= producto.precio - (producto.precio *
                                        producto.descuento/100) %>
                                </b>
                            </p>
                            <% } else { %>
                                <b>
                                    $<%= producto.precio %>
                                </b>
                                <% } %>
                    </div>
                    <div class="description">
                        <p>
                            <%= producto.descripcion %>
                        </p>
                        <p class="center">Colores disponibles:
                            <select name="color" title="Colores disponibles">
                                <% if (producto.color) { %>
                                <% for(let i=0; i < producto.color.length; i++) { %>
                                    <option value="<%= producto.color[i] %> ">
                                        <%= producto.color[i] %>
                                    </option>
                                    <% } %>
                                <% } %>    
                            </select>
                        </p>
                        <p class="center">Tallas disponibles:
                            <select name="tallas" title="Tallas disponibles">
                                <% if (producto.talla) { %>
                                <% for(let i=0; i < producto.talla.length; i++) { %>
                                    <option value="<%= producto.talla[i] %> ">
                                        <%= producto.talla[i] %>
                                    </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </p>
                        <p class="center">Cantidad:
                            <select name="cantidad" title="Cantidad">
                                <% for(let i=1; i <=producto.cantidad; i++) { %>
                                    <option value="<%= i %> ">
                                        <%= i %>
                                    </option>
                                    <% } %>
                            </select>
                        </p>
                    </div>
                    <div>
                        <a class="buy-now" href="#">Comprar ahora</a>
                    </div>
                    <div>
                        <a class="add-cart" href="/cart/agregarItem/<%= producto.id %>">Añadir al carrito</a>
                    </div>
                    <div class="heart">
                        <i class="far fa-heart"></i>
                    </div>
                    <div class="admin-buttons mb-4">
                        <button type="button" class="btn btn-info"> <a href="/products/edit/<%= producto.id %>">
                                Editar producto </a></button>
                        <button type="button" class="btn btn-danger"> <a href="/products/delete/<%= producto.id %>">
                                Eliminar producto </a></button>
                    </div>
                    <select name="comments" id="comments">
                        <option value="comments" selected disabled>Comentarios</option>
                        <option value="uno">Uno</option>
                        <option value="dos">Dos</option>
                        <option value="tres">Tres</option>
                    </select>
                </section>
                <section class="product-detail-desktop">
                    <div class="container-desktop">
                        <div class="img-product-desktop">
                            <div class="img-product">
                                <img src="/img/products/<%= producto.imagen %>" class="img-product" alt="Imagen de producto">
                            </div>
                            <div class="img-product-small">
                                <img src="/img/products/<%= producto.imagen %>" alt="Imagen pequeña producto">
                                <img src="/img/products/<%= producto.imagen %>" alt="Imagen pequeña producto">
                                <img src="/img/products/<%= producto.imagen %>" alt="Imagen pequeña producto">
                            </div>
                        </div>
                        <div class="details">
                            <h1 class="product-name">
                                <%= producto.nombre %>
                            </h1>
                            <div class="price">
                                <% if (producto.descuento !=0) { %>
                                    <p>
                                        <b><del>
                                                $<%= producto.precio %></del>
                                        </b>
                                    </p>
                                    <p> Descuento: <%= producto.descuento %>%
                                    </p>
                                    <p> Precio con el descuento: <b>$<%= producto.precio - (producto.precio *
                                                producto.descuento/100) %>
                                        </b>
                                    </p>
                                    <% } else { %>
                                        <b>
                                            $<%= producto.precio %>
                                        </b>
                                        <% } %>
                            </div>
                            <div class="description">
                                <p>
                                    <%= producto.descripcion %>
                                </p>
                                <% if (typeof(producto.color)=='string' ) { %>
                                    <p>Colores disponibles:
                                        <select name="color" title="Colores disponibles">
                                            <option value="<%= producto.color %>">
                                                <%= producto.color %>
                                            </option>
                                        </select>
                                    </p>
                                    <% } else { %>
                                        <p>Colores disponibles:
                                            <select name="color" title="Colores disponibles">
                                                <% if (producto.color) { %>
                                                <% for(let i=0; i < producto.color.length; i++) { %>
                                                    <option value="<%= producto.color[i] %>">
                                                        <%= producto.color[i] %>
                                                    </option>
                                                    <% } %>
                                                <% } %>
                                            </select>
                                        </p>
                                        <% } %>
                                            <% if (typeof(producto.talla)=='string' ) { %>
                                                <p>Tallas disponibles:
                                                    <select name="tallas" title="Tallas disponibles">
                                                        <option value="<%= producto.talla %> ">
                                                            <%= producto.talla %>
                                                        </option>
                                                    </select>
                                                </p>
                                                <% } else { %>
                                                    <p>Tallas disponibles:
                                                        <select name="tallas" title="Tallas disponibles">
                                                            <% if (producto.talla) { %>
                                                            <% for(let i=0; i < producto.talla.length; i++) { %>
                                                                <option value="<%= producto.talla[i] %> ">
                                                                    <%= producto.talla[i] %>
                                                                </option>
                                                                <% } %>
                                                            <% } %>
                                                        </select>
                                                    </p>
                                                    <% } %>
                                                        <p>Cantidad:
                                                            <select name="cantidad" title="Cantidad">
                                                                <% for(let i=1; i <=producto.cantidad; i++) { %>
                                                                    <option value="<%= i %>">
                                                                        <%= i %>
                                                                    </option>
                                                                    <% } %>
                                                            </select>
                                                        </p>
                                                        <p>
                                                            <small>
                                                                Categoria: <i>
                                                                    <%= producto.categoria %>
                                                                </i>
                                                            </small>
                                                        </p>
                            </div>
                            <div>
                                <a class="buy-now" href="#">Comprar ahora</a>
                                <a class="add-cart" href="/cart/agregarItem/<%= producto.id %>">Añadir al carrito</a>


                            </div>
                            <div class="container-button">
                                <div class="heart pointer">
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                            <div class="admin-buttons">
                                <button type="button" class="btn btn-info mr-1"> <a href="/products/edit/<%= producto.id %>">
                                        Editar producto </a></button>
                                <form action="/products/delete/<%= producto.id%>?_method=DELETE" method="POST"><button
                                        type="submit" class="btn btn-danger"> <a> Eliminar
                                            producto </a></button> </form>
                            </div>
                        </div>
                    </div>
                    <section class="user-comments">
                        <h2 class="title-section">Comentarios</h2>
                        <div class="comment">
                            <i class="fas fa-user"></i>
                            <p class="text-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                                labore
                                expedita cupiditate ipsum, asperiores qui aperiam, rerum natus id in ipsa accusamus
                                aspernatur
                                quasi incidunt repudiandae libero quos accusantium suscipit!</p>
                            <i class="fas fa-user"></i>
                            <p class="text-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
                                labore
                                expedita cupiditate ipsum, asperiores qui aperiam, rerum natus id in ipsa accusamus
                                aspernatur
                                quasi incidunt repudiandae libero quos accusantium suscipit!</p>
                        </div>
                    </section>
                </section>
                <section class="similar-products">
                    <h2 class="title-section">Productos similares</h2>
                    <div class="similar-product-item">
                        <% let j=0; %>                          
                        <% for( let i = 0; i < productos.length; i++ ) { %>  

                            <% if (typeof(producto.categoria) == 'object') { %>
                                <% for( let k = 0; k < producto.categoria.length; k++ ) { %>
                                    <% if (producto.categoria[k] == productos[i].categoria) { %>
                                        <% if (producto.id == productos[i].id) { %>                                    
                                            
                                            <% } else { /*console.log('J: ' + producto.categoria[k]);*/ j = j + 1; %> 
                                                <article class="section-item pointer">
                                                    <a href="/products/product-detail/<%= productos[i].id %> "> <img src="/img/products/<%= productos[i].imagen %> "
                                                            class="img-item" alt="Artículo">
                                                        <p class="item-name"><%= productos[i].nombre %> </p>
                                                        <p class="item-price"><b>$<%= productos[i].precio %> </b></p>
                                                    </a>
                                                </article>                                                
                                    <% } %>
                                <% } %> 
                                    <% if (j >= 3) { %>
                                        <% break; %>
                                    <% } %>
                                <% } %>                                                      
                                <% } else { %>

                            <% if ( producto.categoria == productos[i].categoria) { %>   
                                <% //console.log(typeof(producto.categoria)) %>                              
                                <% if (producto.id == productos[i].id) { %>                                    
                                 
                                <% } else { %>                    
                                <%  //console.log('j2: ' + j); j = j+1; %> 
                            <article class="section-item pointer">
                                <a href="/products/product-detail/<%= productos[i].id %> "> <img src="/img/products/<%= productos[i].imagen %> "
                                        class="img-item" alt="Artículo">
                                    <p class="item-name"><%= productos[i].nombre %> </p>
                                    <p class="item-price"><b>$<%= productos[i].precio %> </b></p>
                                </a>
                            </article>
                            <% if (j >= 4) { %>
                                <% break; %>
                            <% } %>
                            <% } %>
                        <!-- <article class="section-item pointer">
                            <a href="/product/product-detail"> <img src="/img/products/peter-albanese-Gqlmzo-q6mY-unsplash.jpg"
                                    class="img-item" alt="Artículo">
                                <p class="item-name">Nombre del artículo</p>
                                <p class="item-price"><b>$250.00</b></p>
                            </a>
                        </article> -->
                        <% } %> <% } %>
                        <% } %>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>