<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles_cart.css">
    <title>FunFitWear.Cart.</title>
</head>
<body>
    <%- include('../partials/header') %>
    <% if (article.length == 0) { %>
        <main class="vacio">
            <section class="section-cart">
                <div class="continua-compra">
                    <h2>TU CARRITO DE COMPRA[0]</h2>
                    <div>
                        <i class="fas fa-chevron-left" ></i>
                        <a href="/">Continuar comprando </a>
                    </div>
                </div>
            </section>
            <section class="centrado section-main">
                <div class="unico-texto">No hay productos en el carrito</div>
            </section>
        </main>
    <% } else {%>
    <section class="header-NoVacio">
        <h2>TU CARRITO DE COMPRA [<%=article.length%>]</h2>
    </section>
    <main class="cart">
        <div class="products-selected">
            <section class="articulos">
                <% for( let i=0; i< article.length; i++) { %>                    
                    <article>
                        <div class="check">
                                <img src= <%= article[i].imagen %> alt="articulo" class="product_img">
                                <div class="disponible">
                                    <% if (article[i].disponible) { %>
                                        <p>Disponible</p>
                                    <% } else { %>
                                        <p>No disponible</p>
                                    <% } %>
                                </div>
                        </div>
                        <div class="desc-article">
                                <h5> <%= article[i].desc %> </h5>
                                <label >COLOR<p class="color"> <%= article[i].color %> </p></label>
                                <label>TALLA<p class="size"> <%= article[i].talla %> </p></label>
                                <label>MODELO<p class="modelo"> <%= article[i].modelo %> </p></label>
                                <div class="cantidad-total">
                                    <label>Cantidad
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select></label>
                                    <label class="subtotal"> $<%= article[i].precio %> </label>
                                </div>
                                <div class="cart-modify">
                                    <div class="editar">
                                        <label>EDITAR</label>
                                    </div>
                                    <div class="eliminar">
                                        <a href="/sacarItem/<%= i+1 %>" title="Eliminar elemento">
                                        <label>ELIMINAR</label>
                                        </a>
                                    </div>
                                </div>
        
                        </div>
                    </article>
                <% } %>
            </section>
            <div class="a-pagar">
                <section class="subtotal-final">
                    <div class="row-total">
                        <p>SUBTOTAL</p>
                        <p>$4540.00</p>
                    </div>
                    <div class="row-total">
                        <p>GASTOS DE ENVÍO</p>
                        <p>$0.00</p>
                    </div>
                </section>
                <section class="total-final">
                    <div class="row-total-fin">
                        <p>TOTAL</p>
                        <p>$4540.00</p>
                    </div>
                </section>
                <label id= "pagar"><button>PAGAR</button></label>
            </div>
        </div>
        <section class="carousel">
            <i class="fas fa-chevron-left pointer"><a href="#" title="Previo"></a></i>
            <img src="/img/dusan-jovic-uTlMDzkAz-M-unsplash.jpg" alt="Imagen de carrusel" class="pointer">
            <img src="/img/daria-volkova-E8N5sAI7Bpw-unsplash.jpg" alt="Imagen de carrusel" class="pointer">
            <i class="fas fa-chevron-right pointer"></i>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <% } %>
</body>
</html>
