<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-index.css">
    <title>FitFunWear</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="carrousel">
                    <i class="fas fa-chevron-left pointer"><a href="#" title="Previo"></a></i>
                    <img src="/img/jade-scarlato-dT6wB15xdoA-unsplash.jpg" alt="Imagen de carrusel" class="pointer">
                    <i class="fas fa-chevron-right pointer"></i>
                </section>
                <section class="trending">
                    <h2 class="title-section">Tendencias</h2>
                    <!-- Show the "tendencia" products. Se agrega el for -->
                    <div class="trending-articles">
                        <% for (let producto of productosTendencia) { %>
                            <article class="section-item pointer">
                                <a href="/products/product-detail/<%= producto.id %>"> <img src="/img/<%=producto.imagen%>"
                                        class="img-item" alt="Artículo">
                                    <p class="item-name">
                                        <%= producto.nombre %>
                                    </p>
                                    <p class="item-price"><b>$<%= producto.precio %></b></p>
                                </a>
                            </article>
                            <% } %>
                    </div>
                </section>
                <section class="best-seller">
                    <h2 class="title-section" id="mas-vendidos">Ofertas</h2>
                    <!-- Show the "tendencia" products. Se agrega el for -->
                    <div class="best-seller-articles">
                        <% for (let producto of productosOferta) { %>
                            <article class="section-item pointer">
                                <a href="/products/product-detail/<%= producto.id %>"> <img src="/img/<%=producto.imagen%>"
                                        class="img-item" alt="Artículo">
                                    <p class="item-name">
                                        <%= producto.nombre %>
                                    </p>
                                    <p class="item-price"><b>$<%= producto.precio %></b></p>
                                </a>
                            </article>
                            <% } %>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>