<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-register.css">
    <script src="/js/validatorAddEditProduct.js"></script>
    <title>FitFunWear</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="seccion">
                    <img class="logo" src="/img/icono-logo.ico" alt="Logo FitFunWear">
                </div>
                <div class="bienvenida">
                    <h1> AGREGAR NUEVO PRODUCTO </h1>
                </div>

                <form action="/admin" method="POST">

                    <div class="etiquetaNombre">
                        <label>Nombre del producto</label>
                    </div>
                    <div class="nombreProducto">
                        <input type="text" placeholder="" name="nombre"
                            class="add-product-nombre <%= locals.error && error.nombre ? 'border border-danger' : '' %> <%= locals.old && old.nombre ? 'border border-success': '' %>"
                            value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                    </div>
                    <p class="add-product-error-nombre text-danger d-none"></p>
                    <% if (locals.error && error.nombre) { %>
                        <p class="text-danger">
                            <%= error.nombre.msg %>
                        </p>
                    <% } %>

                    <div class="etiquetaDescripcion">
                        <label>Descripción del producto</label>
                    </div>
                    <div class="descripcionProducto">
                        <textarea name="descripcion" id="descripcion"
                            class="add-product-descripcion  form-input <%= locals.error && error.descripcion ? 'border border-danger' : '' %> <%= locals.old && old.descripcion ? 'border border-success': '' %>"><%= locals.old && old.descripcion ? old.descripcion : '' %></textarea>
                    </div>
                    <p class="add-product-error-descripcion text-danger d-none"></p>
                    <% if (locals.error && error.descripcion) { %>
                        <p class="text-danger">
                            <%= error.descripcion.msg %>
                        </p>
                    <% } %>

                    <div class="etiquetaModelo">
                        <label>Modelo</label>
                    </div>
                    <div class="modelo">
                        <input type="text" placeholder="" name="modelo"
                            class = "add-product-modelo <%= locals.error && error.modelo ? 'border border-danger' : '' %> <%= locals.old && old.modelo ? 'border border-success': '' %>"
                            value="<%= locals.old && old.modelo ? old.modelo : '' %>">
                    </div>
                    <p class="add-product-error-modelo text-danger d-none"></p>
                    <% if (locals.error && error.modelo) { %>
                        <p class="text-danger">
                            <%= error.modelo.msg %>
                        </p>
                    <% } %>

                    <div class="boton">
                        <button
                            class="Enviar"
                            type="submit">AGREGAR</button>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>