<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-register.css">
    <script src="/js/validatorAddEditProduct.js"></script>
    <title>FitFunWear</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="seccion">
                    <img class="logo" src="/img/icono-logo.ico" alt="Logo FitFunWear">
                </div>
                <div class="bienvenida">
                    <h1> EDITAR PRODUCTO: <i>
                            <%= producto.id %>
                        </i>
                    </h1>
                </div>

                <form action="/admin/<%=producto.id_product%>?_method=PUT" method="POST">

                    <div class="etiquetaNombre">
                        <label>Nombre del producto</label>
                    </div>
                    <div class="nombreProducto">
                        <input type="text" placeholder="" name="nombre" value="<%= producto.name %>" required>
                    </div>
                    <p class="add-product-error-nombre text-danger d-none"></p>

                    <div class="etiquetaDescripcion">
                        <label>Descripción del producto</label>
                    </div>
                    <div class="descripcionProducto">
                        <input type="text" placeholder="" name="descripcion" value="<%= producto.description %>">
                    </div>
                    <p class="add-product-error-descripcion text-danger d-none"></p>

                    <div class="etiquetaModelo">
                        <label>Modelo</label>
                    </div>
                    <div class="modelo">
                        <input type="text" placeholder="" name="modelo" value="<%= producto.model %>">
                    </div>
                    <p class="add-product-error-modelo text-danger d-none"></p>

                    <div class="boton">
                        <button class="Enviar" type="submit">EDITAR</button>
                    </div>

                </form>

            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>