<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-register.css">
    <title>FitFunWear</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class = "seccion">
            <img class="logo" src="/img/icono-logo.ico" alt="Logo FitFunWear">
        </div>
        <div class = "bienvenida">
            <h1> EDITAR PERFIL DE: </h1><i>
                <%= user.name %>
            </i>
        </div>
        <% if (locals && locals.msg) { %>
            <p class="text-danger text-center"><%= msg %> </p>
        <% } %>
        <form action = "/admin/user/edit/<%=user.id_user%>?_method=PUT" method = "POST" enctype="multipart/form-data"> <!-- enctype para usar multer -->

            <div class = "etiquetaNombre">
                <label>Editar nombre</label>
            </div>
            <div class = "nombre">
                <input type="text" placeholder =" Inserte su nombre" name="nombre" 
                class = "form-input <%= locals.errors && errors.nombre ? 'border border-danger' : '' %> <%= locals.oldData && oldData.nombre ? 'border border-success' : '' %>"
                value ="<%= user.name %>"
                >
                <% if(locals.errors && errors.nombre) { %>
                    <div class="text-danger">
                        <%= errors.nombre.msg %>
                    </div>
                <% } %>	
            </div>
            
            <div class = "etiquetaApellido">
                <label>Editar apellido</label>
            </div>
            <div class = "apellido">
                <!--
                    <input type="text" placeholder =" Inserte su apellido" name="apellido" pattern = "[a-zA-Z]">
                -->
                <input type="text" placeholder =" Inserte su apellido" name="apellido" 
                class = "form-input <%= locals.errors && errors.apellido ? 'border border-danger' : '' %> <%= locals.oldData && oldData.apellido ? 'border border-success' : '' %>"
                value ="<%= user.last_name %>"
                >
                <% if(locals.errors && errors.apellido) { %>
                    <div class="text-danger">
                        <%= errors.apellido.msg %>
                    </div>
                <% } %>	
            </div>
        
            <div class="etiquetaImage">
                <label>Editar imagen de perfil</label>
            </div>
            <div class="imagenPerfil">
                <input type="file" placeholder="" id="imagen" name="imagen" accept="image/*">
                <p>
                    <label class="img-actual">Imagen de perfil actual</span> <img class="img-profile mx-auto d-block" src="/img/users/<%= user.image %>"
                            alt="Imagen actual"></label>
                </p>
            </div>
            <% if(locals.errors && errors.imagen) { %>
                <div class="text-danger">
                    <%= errors.imagen.msg %>
                </div>
            <% } %>	

            <div>
                <label for="">¿Hacer admin?</label><br> 
                <input class="m-2" type="radio" name="admin" id="" <%= user.role_id == 1 ? 'checked' : ''%> >Si
                <input class="m-2" type="radio" name="admin" id="" <%= user.role_id != 1 ? 'checked' : ''%> >No
            </div>
            
            <div class ="boton">
                <button class="Enviar" type="submit">GUARDAR</button>
            </div>
        
        </form>

    </main>
    <%- include('../partials/footer') %>
</body>

</html>