<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-login.css">
    <title>FitFunWear</title>
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <% if (locals.msgSuccess) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">                       
                       <p><%= msgSuccess %> </p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                <% } %>
                <div>
                    <h1> Iniciar sesión </h1>
                </div>
                <form action="/user/login" method="POST">

                    <div class="etiquetaUsuario">
                        <label>Correo electrónico</label>
                    </div>
                    <div class="Usuario">
                        <input type="email" placeholder=" Inserte su correo electrónico" name="email"                            
                            class = "form-input <%= locals.errors && errors.email ? 'border border-danger' : '' %> <%= locals.oldData && oldData.email ? 'border border-success' : '' %>"
                            value ="<%= locals.oldData && oldData.email ? oldData.email : null %>"
                            >
                            <% if(locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>	
                    </div>

                    <div class="etiquetaContraseña">
                        <label>Contraseña</label>
                    </div>
                    <div class="Contraseña">
                        <input type="password" placeholder=" Inserte su contraseña" name="password" minlength="8"
                            
                            class = "form-input <%= locals.errors && errors.password ? 'border border-danger' : '' %> <%= locals.oldData && oldData.password ? 'border border-success' : '' %>"
                        >
                        <% if(locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>	
                    </div>

                    <div class="Recordarme">
                        <input type="checkbox" name="recordarme" value="recordarme" checked> Recordarme
                    </div>

                    <div class="contraseñaOlvidada">
                        <a class="box" href="/user/reset-password"> ¿Olvidaste tu contraseña? </a>
                    </div>

                    <div class="boton">
                        <button class="Enviar" type="submit">Iniciar sesión</button>
                    </div>

                    <div class="nuevoUsuario">
                        <label>¿Eres nuevo(a)?</label>
                        <a class="box" href="/user/register"> ¡REGISTRATE AQUÍ! </a>
                    </div>

                    <div class="beneficios">
                        <i class="fas fa-gifts"></i>
                        <label class="beneficios">Recibe beneficios exclusivos al unirte a nuestra comunidad</label>
                    </div>


                </form>

            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>