<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-register.css">
    <title>FitFunWear</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class = "seccion">
            <img class="logo" src="/img/icono-logo.ico" alt="Logo FitFunWear">
        </div>
        <div class = "bienvenida">
            <h1> BIENVENIDO A LA COMUNIDAD FIT FUN WEAR</h1> 
        </div>

        <div class="container" style="margin-top: 40px;"> 
            <div class="row">
                <div class="col-md-3">
                    <h2>Hola <%= user.nombre %> <%=user.apellido %> </h2>
                    <img src="/img/users/<%= user.imagen %>">
                    <br>
                    <br>
                    <div class="alert alert-success"><%= user.email %></div>
                    <div class="boton">
                        <button type="button" class="btn btn-info mr-1"> <a href="/user/edit<%=user.id_user%>">
                                Editar</a></button>
                    </div>
                </div>

            </div>
        
        </div>

    </main>
    <%- include('../partials/footer') %>
</body>

</html>