<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-index.css">
    <title>FitFunWear</title>
    </head>

    <body>
        <%- include('../partials/header') %>
        <main>
            <section class="trending">

                <h2 class="title-section">Todos los atributos del producto <%= name %></h2>

                <!-- Show the "tendencia" products. Se agrega el for -->
                <div class="trending-articles">
                    <% for (let product of productos) { %>
                        
                        <article class="section-item pointer">
                                <img src="/img/products/<%= product.image %>"
                                class="img-item" alt="Artículo">

                                <%let thisColor = colors.find(elem => elem.id_color == product.color_id);%>
                                <p class="item-name">Color: <%= thisColor.name %>
                                </p>

                                <%let thisSize = sizes.find(elem => elem.id_size == product.size_id);%>
                                <p class="item-name">Talla: <%= thisSize.name %>
                                </p>

                                <div class="boton">
                                    <button type="button" class="btn btn-info mr-1"> <a href="/attribute/edit/<%=product.product_id%>">
                                            Editar</a></button>
                                    <form action="/attribute/delete/<%=product.id_attribute%>?_method=DELETE" method="POST"><button
                                            type="submit" class="btn btn-danger"> <a> Eliminar</a></button>
                                    </form>
                                </div>

                        </article>
                    <% } %>
                </div>
                <div class="boton">
                    <button class="newProduct"><a href="/attribute/create/<%=id%>">Crear un nuevo atributo</a></button>
                </div>

            </section>
        </main>

        <%- include('../partials/footer') %>
    </body>

    </html>